body {
    background-color: #EEEEEE;
}

/*---------- nav-bar -----------*/

.navbar-brand {
    font-family: 'Modak', cursive;
}

#navbar-nav {
    font-family: 'Just Another Hand', cursive;
}

li.nav-item {
    text-transform: uppercase;
}


/* ----------- header ------------- */



#header-img{
    height: 110%;
    width: 100%;
}


#my-name {
    padding-top: 30px;
}






/* Pagination links */
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;}